apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mlops-postgres
  namespace: default
  labels:
    app: mlops-postgres
spec:
  serviceName: "mlops-postgres"
  replicas: 1
  selector:
    matchLabels:
      app: mlops-postgres
  template:
    metadata:
      labels:
        app: mlops-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:13
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: mlops-secrets
                  key: postgres-db
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: mlops-secrets
                  key: postgres-user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mlops-secrets
                  key: postgres-password
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: mlops-postgres
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: mlops-postgres
  ports:
    - port: 5432
      targetPort: 5432
