apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlops-redis
  namespace: default
  labels:
    app: mlops-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlops-redis
  template:
    metadata:
      labels:
        app: mlops-redis
    spec:
      containers:
        - name: redis
          image: redis:7.2
          ports:
            - containerPort: 6379
          resources:
            limits:
              memory: "128Mi"
              cpu: "100m"
            requests:
              memory: "64Mi"
              cpu: "50m"
---
apiVersion: v1
kind: Service
metadata:
  name: mlops-redis
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: mlops-redis
  ports:
    - port: 6379
      targetPort: 6379
