apiVersion: v1
kind: Secret
metadata:
  name: mlops-secrets
type: Opaque
stringData:
  postgres-db: "mlflow_db"
  postgres-user: "mlflow_user"
  postgres-password: "mlflow_password"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mlflow-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
